<div class="slide-container">
  
    <div class="wrapper">
      <div class="clash-card barbarian">
        <div class="clash-card__image clash-card__image--barbarian">
          <img src="https://images.unsplash.com/photo-1452570053594-1b985d6ea890?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJpcmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="barbarian" />
        </div>
        <div class="clash-card__unit-name">The Barbarian</div>
        <div class="clash-card__unit-description">
          The Barbarian is a kilt-clad Scottish warrior with an angry, battle-ready expression, hungry for destruction. He has Killer yellow horseshoe mustache.
        </div>
  
        <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
          <div class="one-third">
            <div class="stat">20<sup>S</sup></div>
            <div class="stat-value">Training</div>
          </div>
  
          <div class="one-third">
            <div class="stat">16</div>
            <div class="stat-value">Speed</div>
          </div>
  
          <div class="one-third no-border">
            <div class="stat">150</div>
            <div class="stat-value">Cost</div>
          </div>
  
        </div>
  
      </div> <!-- end clash-card barbarian-->
    </div> <!-- end wrapper -->
    
    <div class="wrapper">
      <div class="clash-card archer">
        <div class="clash-card__image clash-card__image--archer">
          <img src="https://images.unsplash.com/photo-1520808663317-647b476a81b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" alt="archer" />
        </div>
        <div class="clash-card__unit-name">The Archer</div>
        <div class="clash-card__unit-description">
          The Archer is a female warrior with sharp eyes. She wears a short, light green dress, a hooded cape, a leather belt and an attached small pouch.
        </div>
  
        <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
          <div class="one-third">
            <div class="stat">25<sup>S</sup></div>
            <div class="stat-value">Training</div>
          </div>
  
          <div class="one-third">
            <div class="stat">24</div>
            <div class="stat-value">Speed</div>
          </div>
  
          <div class="one-third no-border">
            <div class="stat">300</div>
            <div class="stat-value">Cost</div>
          </div>
  
        </div>
  
      </div> <!-- end clash-card archer-->
    </div> <!-- end wrapper -->
    
    <div class="wrapper">
      <div class="clash-card giant">
        <div class="clash-card__image clash-card__image--giant">
          <img src="https://images.unsplash.com/photo-1550853024-fae8cd4be47f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=888&q=80" alt="giant" />
        </div>
        
        <div class="clash-card__unit-name">The Giant</div>
        <div class="clash-card__unit-description">
          Slow, steady and powerful, Giants are massive warriors that soak up huge amounts of damage. Show them a turret or cannon and you'll see their fury unleashed!
        </div>
  
        <div class="clash-card__unit-stats clash-card__unit-stats--giant clearfix">
          <div class="one-third">
            <div class="stat">2<sup>M</sup></div>
            <div class="stat-value">Training</div>
          </div>
  
          <div class="one-third">
            <div class="stat">12</div>
            <div class="stat-value">Speed</div>
          </div>
  
          <div class="one-third no-border">
            <div class="stat">2250</div>
            <div class="stat-value">Cost</div>
          </div>
  
        </div>
  
      </div> <!-- end clash-card giant-->
    </div> <!-- end wrapper -->
    
     <div class="wrapper">
      <div class="clash-card goblin">
        <div class="clash-card__image clash-card__image--goblin">
          <img src="https://images.unsplash.com/photo-1497206365907-f5e630693df0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80" alt="goblin" />
        </div>
       
        <div class="clash-card__unit-name">The Goblin</div>
        <div class="clash-card__unit-description">
          These pesky little creatures only have eyes for one thing: LOOT! They are faster than a Spring Trap, and their hunger for resources is limitless.
        </div>
  
        <div class="clash-card__unit-stats clash-card__unit-stats--goblin clearfix">
          <div class="one-third">
            <div class="stat">30<sup>S</sup></div>
            <div class="stat-value">Training</div>
          </div>
  
          <div class="one-third">
            <div class="stat">32</div>
            <div class="stat-value">Speed</div>
          </div>
  
          <div class="one-third no-border">
            <div class="stat">100</div>
            <div class="stat-value">Cost</div>
          </div>
  
        </div>
  
      </div> <!-- end clash-card goblin-->
    </div> <!-- end wrapper -->
    
    <div class="wrapper">
      <div class="clash-card wizard">
        <div class="clash-card__image clash-card__image--wizard">
          <img src="https://images.unsplash.com/photo-1552728089-57bdde30beb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=425&q=80" alt="wizard" />
        </div>
       
        <div class="clash-card__unit-name">The Wizard</div>
        <div class="clash-card__unit-description">
          The Wizard is a terrifying presence on the battlefield. Pair him up with some of his fellows and cast concentrated blasts of destruction on anything, land or sky!
        </div>
  
        <div class="clash-card__unit-stats clash-card__unit-stats--wizard clearfix">
          <div class="one-third">
            <div class="stat">5<sup>M</sup></div>
            <div class="stat-value">Training</div>
          </div>
  
          <div class="one-third">
            <div class="stat">16</div>
            <div class="stat-value">Speed</div>
          </div>
  
          <div class="one-third no-border">
            <div class="stat">4000</div>
            <div class="stat-value">Cost</div>
          </div>
  
        </div>
  
      </div> <!-- end clash-card wizard-->
    </div> <!-- end wrapper -->
    
  </div> <!-- end container -->
  <script>
    (function() {
    
    var slideContainer = $('.slide-container');
    
    slideContainer.slick();
    
    $('.clash-card__image img').hide();
    $('.slick-active').find('.clash-card img').fadeIn(200);
    
    // On before slide change
    slideContainer.on('beforeChange', function(event, slick, currentSlide, nextSlide) {
      $('.slick-active').find('.clash-card img').fadeOut(1000);
    });
    
    // On after slide change
    slideContainer.on('afterChange', function(event, slick, currentSlide) {
      $('.slick-active').find('.clash-card img').fadeIn(200);
    });
    
  })();
  
  </script>